<mat-toolbar color="primary">Virtual Scroll App</mat-toolbar>
<cdk-virtual-scroll-viewport itemSize="100" class="container responsive-grid">
  <div class="viewport">
    <mat-card *cdkVirtualFor="let card of mycards" style="margin: 15px;">
      <mat-card-header>
        <b style="font-size: 20px;">{{ card.title }}</b>
      </mat-card-header>
      <br />
      <img mat-card-image alt="Img" [src]="card.imgUrl" />
      <mat-card-content>{{ card.description }}</mat-card-content>
      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>