.container{
    padding: 24px;
    height: 80vh;
}

.viewport{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}


img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 10px;
}